.projects-content {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
    height: auto; 
    padding: 30px;
}